@import "../../../styles/global.scss";

[data-date-slides] {
    margin: 0 auto;
    width: 100%;

    background: $background;
    padding: 0px;
    box-sizing: border-box;
    color: #FF001E;
    #corona-timeline-credits {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        color: #9c9b9b;
        font-weight: 400;
        font-size: 12px;
        padding: 0 20px;
    }
    #corona-timeline-content {
        position: relative;
        background-image: url('../../../assets/images/pil-ned.svg');
        background-repeat: no-repeat;
        background-position: 11px -5px;
        @media (min-width: 750px) {
            background-position: calc(50% - 350px) -5px;
        }
        background-size: 20px 20px;
        padding: 0 20px;
    }
    #corona-timeline-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #0861ce;
    }

    &.blue {
        color: #0861ce;
        .arrow-svg {fill:#0861ce;}
    }
    h1 {
        text-align: center;
        color: black;
        margin: 0;
        padding: 13px;
        font-family: Publik;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        line-height: 1.5;
        .label {
            font-weight: 100;
        }
        @media (max-width: 400px) {
            font-size: 16px;
        }
        @media (max-width: 320px) {
            font-size: 12px;
        }
    }
    .date {

        font-size: 48px;
        font-weight: 400;
        font-family: Publik;
        text-align: center;
        @media (max-width: 320px) {
            font-size: 26px;
        }
    }

    .navigation-inner {
        max-width: 300px;
        margin: 4px auto 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #FF001E;
        font-family: gibsonRegular;
        padding: 0;
        .date {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            font-family: gibsonSemibold;
            font-size: 20px;
        }
        button {
            display: flex;
            align-items: center;
            color: #fff;
            background: none;
            border: none;
            outline: none;
            font-size: 22px;
            font-weight: 100;
            position: relative;
            width: 50px;
            box-sizing: border-box;
            height: 50px;
            @media (max-width: 400px) {
                margin-top: 1px;
                width: 50px;
                height: 40px;
            }
            @media (max-width: 320px) {
                margin-top: 0px;
            }
            padding: 0 10px;
            margin: 0;
            cursor: pointer;
            svg {
                width: 100%;
                fill: #fff;
            }

            &.navigation-button-hidden {
                visibility: hidden;
            }
        }
    }


    #dateslide-slide-0 {
        .back-button {
             cursor: default;
            .arrow-svg {
                fill: #D4D4D4;
            }
        }
    }
    .dateslide-slide-last {
        .forward-button {
            cursor: default;
            .arrow-svg {
                fill: #D4D4D4;
            }
        }
    }
}
