@import "../../../styles/global.scss";

$indicatorColor: #dedede;

[data-date-slides] {

    .indicator-container {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            display: block;
            right: 0px;
            width: 80px;
            height: 100%;
            top: 0;
            background: linear-gradient(to right, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 1) 100%);
        }



    }

    .indicator-marker-label {
        position: absolute;
        top: -2px;
        padding: 2px 5px;
        background: $background;
        text-transform: uppercase;
    }
    .indicator {
        cursor: grab;
        &.active {
            cursor: grabbing;
        }
        height: 70px;
        width: 100%;
        margin: 15px auto 0;
        //display: flex;
        overflow-x: scroll;
         white-space: nowrap;
        padding-top: 20px;


        scroll-snap-type: x mandatory;

        &.no-snap {
            scroll-snap-type: none;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;

    }
    .indicator-line {
        height: 1px;
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
        background: $indicatorColor;
        //background: #FF001E;
    }
    .indicator-marker {
        scroll-snap-align: start;
        height: 26px;
        background: none;
        position: relative;

        display: inline-block;
        position: relative;
        top: -7px;
        color: $indicatorColor;
        border-color: $indicatorColor;
        border-left: 2px solid;
        &.indicator-marker-static {
            position: absolute;
            border-color: #FF001E;
            top: 20px;
            height: 40px;
        }
        &.indicator-marker-spacer {
            width: 400px;
            border: none;
            &:hover:after {
                content: none;
            }
        }
        &.indicator-marker-month, &.indicator-marker-active {
            height: 40px;
            top: 0;
        }
        &.indicator-marker-highlight {
            border-color: #aeaeae;
        }

        &.indicator-marker-active {

            //border-color: #FF001E;

            .indicator-marker-month-label {
                display: none
            }
        }
        &:hover:after {
            content: attr(data-date);
            padding: 4px 8px;
            color: black;
            background-color:white;
            position: absolute;
            left: 0;
            top: 100%;
            z-index:10;
            border:1px black solid;
            box-shadow:0 0 3px #ccc;
        }
        &.indicator-marker-month {
            height: 40px;
            top: 0;
        }
        .indicator-marker-label {
            display: none;
            color: #FF001E;
            background: #f2f2f2;
            z-index: 10;
        }
        .indicator-marker-month-label, .indicator-marker-label {
            position: absolute;
            top: -20px;
            text-transform: uppercase;
        }
        &.indicator-marker-last {
            // margin-right: 50vw;
        }
    }
}